
.menu{
  background-color: gray;
  margin: 5%;
}

.menu .menu-content, .list{
	list-style: none;
	text-decoration: none;
  font-size: 40px;
}
.menu .menu-content li a{
	color: white;
	text-decoration: none;
  display: block;
  padding: 2%;
}
.menu .menu-content ul li{
  background: #BFBFBF;
}
.menu .menu-content li a .icon {
  float: right;
}
.menu li:hover{
  background: #404040;
	color: white;
}
.menu .menu-content ul{
  display: none;
}
.menu .menu-content .activate > a{
  background: #404040;
	color: white;
}
