
.menu{
  /* background-color: #BFBFBF; */
  margin: 5%;
}

.menu, .list{
	list-style: none;
	text-decoration: none;
}
.menu .menu-content a{
  color: black;
  font-size:45px;
  display: block;
}

.li-content{
  display: flex;
  justify-content: center;
}

.li-item{
  padding: 2% 0%;
}

.li-university{
  font-size: 35px;
}
.li-title{
  font-size: 25px;
  text-decoration: none;
}
.li-position, .li-ubication{
  font-size: 20px;
}

.menu .menu-content li a{
	text-decoration: none;

}
.menu .menu-content ul li{
  background: #BFBFBF;
}
.menu .menu-content li a .icon {
  float: right;
}
.menu .menu-content ul{
  display: none;
}
.menu .menu-content .activate > a{
  background: #404040;
	color: white;
}
