*{
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
}
.body{
  display: flex;

}
.s1{
  width: 60%;
	display: block;
}


.s2{
	display: block;
  width: 40%;
  height: 100vh;
  background-color: #BFBFBF;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #BFBFBF;
	width: 100%;
	height: 40%;
	overflow: hidden;
}
.logo a{
	display: flex;
	justify-content: center;
	width: 80%;
}
.logo-i{
	width: 100%;
	z-index: 1;

}
.description{
	height: 40%;
	padding: 5% 3%;
	border-top: 1px solid #0D0D0D;
	/* border-bottom: 1px solid #0D0D0D; */
	font-size: large;
	text-align: justify;
}
.description2{
	display: block;
}
.emails{
	display: flex;
	padding: 3% 0%;
}
.emails img{
	width: 10%;
}
.email{
	display: flex;
	justify-content: center;
}

.map-content{
	border-radius: 10%;
	/* overflow: hidden; */
}
.map{
	width: 100%;
	height: 100%;
}

.social-networks{
	display: flex;
	justify-content: space-between;
	padding: 0% 15%;
}
.social-icon{
  width: 15%;
	height: 15%;
	border-radius:50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2%;
}
.gitlab{
	width: 100%;
}
.social-icon a{
	width: 80%;
}
